@font-face {
    font-family: 'CCHedgeBackwards';
    src: url('CCHedgeBackwards-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwards';
    src: url('CCHedgeBackwards-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwards';
    src: url('CCHedgeBackwards-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwards';
    src: url('CCHedgeBackwards-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwardsLower';
    src: url('CCHedgeBackwardsLower-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwardsLower';
    src: url('CCHedgeBackwardsLower-Ita.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwardsLower';
    src: url('CCHedgeBackwardsLower-BolIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CCHedgeBackwardsLower';
    src: url('CCHedgeBackwardsLower-Reg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

