<!doctype html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
        {% include "head/meta" %}
        {% include "head/link" %}
        {% include "head/schema" %}
        {% include "head/scripts" %}
        <style>
            {%- include "assets/styles.css" -%}
            {%- getBundle "css" -%}
        </style>
    </head>
    <body>
        {% include "page/header" %}
        {% include "page/nav" %}
        <main>
            {{ content }}
        </main>
        {% include "page/footer" %}
        {% include "page/svg" %}
        <script>
            {%- include "assets/scripts.js" -%}
            {% getBundle "js" %}
        </script>
    </body>
</html>