@charset "UTF-8";

@layer preflight;
@import url(/assets/styles/preflight.css) layer(preflight);

/* FONTS ------------------------------------------------------------------- */

@import url(/assets/fonts/bogart/@font-face.css);
@import url(/assets/fonts/dossier/@font-face.css);
@import url(/assets/fonts/duper/@font-face.css);
@import url(/assets/fonts/gooper/@font-face.css);
@import url(/assets/fonts/rooney/@font-face.css);
@import url(/assets/fonts/rooney/sans/@font-face.css);

/* VARIABLES --------------------------------------------------------------- */

:root { 
  
  /* -- colors ------------------------------------------------------------- */
  
  --color-background: #fffdf8;
  --color-foreground: #323232;
  --color-accent: #eb6345;
  --color-mark: #fff01b;
  --color-strike: #e4008a;
  --color-active: #ce00de;
  --color-link: #0067fe;
  --color-hover: #e9007f;
  --color-visited: #000000;
  --color-shade: #000000;
  --color-shadow: rgb(from var(--color-shade) r g b / 0.25);
  --color-overlay: rgb(from var(--color-shade) r g b / 0.10);

  /* -- fonts -------------------------------------------------------------- */
  
  --font-sans: 'Rooney Sans', '_Rooney Sans', 'Arial', sans-serif;
  --font-serif: 'Rooney', '_Rooney', 'Georgia', serif;
  --font-cursive: 'Duper', '_Duper', 'Comic Sans MS', 'Comic Sans', cursive;
  --font-monotype: 'Dossier', '_Dossier', 'Courier New', monospace;
  --font-header: 'Bogart', '_Bogart', 'Rooney', '_Rooney', 'Georgia', serif;

  /* -- sizes -------------------------------------------------------------- */
  
  --px: 0.0625rem;
  --px2: 0.125rem; 
  --px4: 0.25rem;
  --px6: 0.375rem;
  --px8: 0.5rem;
  --px10: 0.625rem;
  --px12: 0.75rem;
  --px14: 0.875rem;
  --px16: 1.0rem;
  --px18: 1.125rem;
  --px20: 1.25rem;
  --px24: 1.5rem;
  --px28: 1.75rem;
  --px32: 2.0rem;
  
  --max-width: 44rem;
  
}

/* ELEMENTS ---------------------------------------------------------------- */

a { text-decoration: none; }
a:link {
  cursor: pointer;
  color: var(--color-link);
  fill: var(--color-link);
}
a:visited {
  color: var(--color-visited);
  fill: var(--color-visited);
}
@media (hover: hover) {
  a:hover,
  a:focus  {
    color: var(--color-hover);
    fill: var(--color-hover);
  }
  a:active {
    color: var(--color-active);
    fill: var(--color-active);
  }
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-weight: 400; 
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0.5rem 1rem 1rem 1rem;
  position: relative;
}
@media (min-width: 28.5rem) {
  body { padding: 1.5rem 2rem 2rem 2rem; }
}
@media (min-width: 60rem) {
  body:has(.spread) { --max-width: 84rem; padding-left: 2rem; padding-right: 2rem; }
}
strong, b { font-weight: 700; }
em, i { font-style: italic; }
form { font-family: var(--font-sans); }

/* LAYOUT ------------------------------------------------------------------ */

/* -- header --------------------------------------------------------------- */

body > header {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  position: relative;
  /* z-index: 3; */
}
body > header a {
  margin-left: -0.625rem;
}
body > header a:link {
  cursor: pointer;
  color: var(--color-foreground);
  fill: var(--color-foreground);
}
body > header h1 {
  align-items: center;
  display:flex;
  flex: 1;
  font-size: 1.25rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body > header h1 a {
  margin-left: 0;
  overflow: hidden;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body > header h1 span ~ svg:last-of-type {
  display: none;
}
body > header label {
  cursor: pointer;
  margin-right: -0.625rem;
  z-index: 3;
}

@media (hover: hover) {
  body > header a:hover,
  body > header a:focus,
  body > header label:hover,
  body > header label:focus  {
    color: var(--color-hover);
    fill: var(--color-hover);
  }
  body > header a:active,
  body > header label:active {
    color: var(--color-active);
    fill: var(--color-active);
  }
}

body > header span { display: none; }

body > header:has(input:checked) ~ main,
body > header:has(input:checked) ~ footer, 
body > header:has(input:checked) ~ svg { display: none; }
body > header:has(input:checked) + nav { display: block; }
body > header:has(input:not(:checked)) + nav { display: none; }

@media (min-width: 28.5rem) {
  body > header h1 span ~ svg:first-of-type { display: none; }
  body > header h1 span ~ svg:last-of-type { display: initial; z-index: -1; }
  body > header:has(input:checked) ~ main { display: block; }
  body > header:has(input:checked) ~ footer { display: flex; }
  body > header:has(input:checked) ~ main,
  body > header:has(input:checked) ~ footer {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none; 
  }
  body:has(> header input:checked):after {
    background: var(--color-overlay);
    content: "";
    display: block;
    position: fixed; top: 0; left: 0;
    width: 100vw; height: 100%;
    z-index: var(--layer-overlay);
  }
}

/* -- nav ------------------------------------------------------------------ */

body > nav {
  background: var(--color-background);
  font-family: var(--font-serif);
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  position: absolute; top: 0; right: 0;
  z-index: 2;
}
@media (min-width: 28.5rem) {
  body > nav {
    border-radius: 1rem;
    box-shadow: 0 0.0625rem 0.25rem var(--color-shadow);
    max-width: 26.5rem;
    padding: 1rem 2rem 2rem 2rem;
    position: absolute;
    top: 1rem; right: 1rem;
  }
  body > nav:after {
    content: " ";
    display: block;
    height: 0.0625rem;
    position: relative; top: 6rem;
  }
}

/* -- main ----------------------------------------------------------------- */

body > main {}

/* -- footer --------------------------------------------------------------- */

body > footer {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  margin-top: 2rem;
}
body > footer a:link {
  cursor: pointer;
  color: var(--color-foreground); fill: var(--color-foreground);
}
@media (hover: hover) {
  body > footer a:hover,
  body > footer a:focus {
    color: var(--color-hover); fill: var(--color-hover);
  }
  body > footer a:active {
    color: var(--color-active); fill: var(--color-active);
  }
}
body > footer p {
  flex: 1;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body > footer ul {
  display: flex;
  margin-right: -0.625rem;
}
body > footer li { display: flex; }
body > footer span { display: none; }

/* MODIFIERS --------------------------------------------------------------- */

.animation {}
.attachment {}
.blend-mode {}
.bookmark {}
.chat {}
.draft {}
.drop-cap {}
.cursive {
  font-family: var(--font-cursive);
}
.character {}
.description {}
.dialogue {}
.fade-in {}
.fade-out {}
.first-line-indent {}
.hyphenation-auto {}
.icon {
  width: 2rem;
  height: 2rem;
  margin: 0.375rem;
}
.lowercase {}
.message {}
.monotype {
  font-family: var(--font-monotype);
}
.narrative {}
.note {}
.notes {}
.page {}
.pages {}
.panels {}
.paper {
  box-shadow: 0 0.125rem 0.125rem 0.125rem rgb(from var(--color-foreground) r g b / 0.05);
  clip-path: inset(-0.0625rem -0.0625rem);
}
.sans {
  font-family: var(--font-sans);
}
.scene {}
.script {}
.script-screen {}
.script-stage {}
.serif {
  /* font-family: var(--font-serif); */
}
.social {}
.space-after-paragraph {}
.spread {}
.text-align-center {}
.text-align-left {}
.text-align-right {}
.text-align-justify {}
.transition {}
.uppercase {}