@charset "UTF-8";

@layer preflight;
@import url(/assets/styles/preflight.css) layer(preflight);


/* FONTS ------------------------------------------------------------------- */


@import url(/assets/fonts/bogart/@font-face.css);
@import url(/assets/fonts/dossier/@font-face.css);
@import url(/assets/fonts/duper/@font-face.css);
@import url(/assets/fonts/gooper/@font-face.css);
@import url(/assets/fonts/rooney/@font-face.css);
@import url(/assets/fonts/rooney/sans/@font-face.css);


/* VARIABLES --------------------------------------------------------------- */


:root { 
  
  /* -- var-colors --------------------------------------------------------- */
  
  --color-background: #fffdf8;
  --color-foreground: #333333;
  --color-accent: #eb6345;
  --color-mark: #fff01b;
  --color-strike: #e4008a;
  --color-active: #ad4f1f;
  --color-link: #5b5bf4;
  --color-hover: #f36f2d;
  --color-visited: #4c4cc9;
  --color-shade: #000000;
  --color-shadow: rgb(from var(--color-shade) r g b / 0.25);
  --color-overlay: rgb(from var(--color-shade) r g b / 0.10);

  /* -- var-fonts ---------------------------------------------------------- */
  
  --font-sans: 'Rooney Sans', '_Rooney Sans', 'Arial', sans-serif;
  --font-serif: 'Rooney', '_Rooney', 'Georgia', serif;
  --font-cursive: 'Duper', '_Duper', 'Comic Sans MS', 'Comic Sans', cursive;
  --font-monotype: 'Dossier', '_Dossier', 'Courier New', monospace;
  --font-header: 'Bogart Alt', '_Bogart Alt', 'Rooney', '_Rooney', 'Georgia', serif;

  /* -- var-sizes ---------------------------------------------------------- */
  
  --max-width: 44rem;

}


/* ELEMENTS ---------------------------------------------------------------- */


/* -- a -------------------------------------------------------------------- */

a,
a:link {
  cursor: pointer;
  color: var(--color-link);
  fill: var(--color-link);
  text-decoration: none;
}
a:visited {
  color: var(--color-visited);
  fill: var(--color-visited);
}
@media (hover: hover) {
  a:hover,
  a:focus  {
    color: var(--color-hover);
    fill: var(--color-hover);
  }
  a:active {
    color: var(--color-active);
    fill: var(--color-active);
  }
}

/* -- body ----------------------------------------------------------------- */

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-weight: 400; 
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 1rem;
  position: relative;
}

@media (min-width: 60rem) {
  
  body:has(.spread) {
    --max-width: 84rem;
    padding: 0 2rem;
  }
  
}

/* -- b, strong ------------------------------------------------------------ */

b,
strong, {
  font-weight: 700;
}

/* -- i, em ---------------------------------------------------------------- */

i, 
em {
  font-style: italic;
}

/* -- form ----------------------------------------------------------------- */

form {
  font-family: var(--font-sans);
}

/* -- h{n} ----------------------------------------------------------------- */

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
h2 {
  font-size: 2.0rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  line-height: 100%;
  margin: 3rem 0 0.5rem 0;
}

/* -- mark ----------------------------------------------------------------- */

mark {
  color: var(--color-foreground);
  background-color: var(--color-mark);
}

/* -- section -------------------------------------------------------------- */

section {
  overflow-y: clip;
  margin: 2rem 0 3rem 0;
  padding: 2rem 0 2rem 0;
}
section:after, body > header:after, body > main > header:after {
  background-color: color-mix(in srgb, var(--color-accent) 15%, var(--color-background));
}
section > :first-child:is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1rem;
}


/* LAYOUT ------------------------------------------------------------------ */


/* -- body > header -------------------------------------------------------- */

body > header {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  padding-top: 0.5rem;
  position: relative;
}

body > header a {
  margin-left: -0.5rem
}

body > header a,
body > header a:link,
body > header label {
  cursor: pointer;
  color: var(--color-foreground);
  fill: var(--color-foreground);
}

body > header h1 {
  align-items: center;
  display:flex;
  flex: 1;
  font-size: 1.25rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: initial;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body > header h1 a {
  margin-left: 0;
  overflow: hidden;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
}

body > header h1 span ~ svg:last-of-type {
  display: none;
}

body > header label {
  cursor: pointer;
  margin-right: -0.5rem;
  z-index: 3;
}

@media (hover: hover) {
  
  body > header a:hover,
  body > header a:focus,
  body > header label:hover,
  body > header label:focus  {
    color: var(--color-hover);
    fill: var(--color-hover);
  }
  body > header a:active,
  body > header label:active {
    color: var(--color-active);
    fill: var(--color-active);
  }
  
}

body > header span {
  display: none;
}

body > header:has(input:checked) ~ main,
body > header:has(input:checked) ~ footer, 
body > header:has(input:checked) ~ svg {
  display: none;
}
body > header:has(input:checked) + nav {
  display: block;
}
body > header:has(input:not(:checked)) + nav {
  display: none;
}

@media (min-width: 28.5rem) {
  
  body > header {
    padding-top: 1.25rem;
  }
  
  body > header h1 span ~ svg:first-of-type {
    display: none;
  }
  
  body > header h1 span ~ svg:last-of-type {
    display: initial;
    z-index: -1;
  }
  
  body > header:has(input:checked) ~ main {
    display: block;
  }
  
  body > header:has(input:checked) ~ footer {
    display: flex;
  }
  
  body > header:has(input:checked) ~ main,
  body > header:has(input:checked) ~ footer {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none; 
  }
  
  body:has(> header input:checked):after {
    background: var(--color-overlay);
    content: "";
    display: block;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100%;
    z-index: 1;
  }
  
}

/* -- body > nav ----------------------------------------------------------- */

body > nav {
  background: var(--color-background);
  font-family: var(--font-serif);
  padding: 1rem 1rem 2rem 1rem;
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  z-index: 2;
}

body > nav > *:last-child {
  margin-top: 2rem;
}

@media (min-width: 28.5rem) {
  
  body > nav {
    border-radius: 1rem;
    box-shadow: 0 0.0625rem 0.25rem var(--color-shadow);
    max-width: 26.5rem;
    padding: 1rem 2rem 2rem 2rem;
    position: absolute;
    top: 1.0rem; right: 0.2rem;
  }
  
  body > nav:after {
    content: " ";
    display: block;
    height: 0.0625rem;
    position: relative; top: 6rem;
  }
  
}

/* -- body > main ---------------------------------------------------------- */

body > main {}

/* -- body > footer -------------------------------------------------------- */

body > footer {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  margin-top: 2rem;
  padding: 1rem 0 2rem 0;
}

body > footer p {
  flex: 1;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body > footer a,
body > footer a:link {
  cursor: pointer;
  color: var(--color-foreground);
  fill: var(--color-foreground);
}

@media (hover: hover) {
  
  body > footer a:hover,
  body > footer a:focus {
    color: var(--color-hover);
    fill: var(--color-hover);
  }
  body > footer a:active {
    color: var(--color-active);
    fill: var(--color-active);
  }
  
}

/* MODIFIERS --------------------------------------------------------------- */


/* -- .animate-{n} --------------------------------------------------------- */

.animate {}

/* -- .blend-mode-{n} ------------------------------------------------------ */

.blend-mode {}

/* -- .draft --------------------------------------------------------------- */

.draft {}

/* -- .drop-cap ------------------------------------------------------------ */

.drop-cap > p:first-of-type::first-letter  {
  float: left;
  font-size: 300%;
  line-height: 100%;
  padding-right: 0.25rem;
}

/* -- .capitalize ---------------------------------------------------------- */

.capitalize {
  text-transform: capitalize;
}

/* -- .cursive ------------------------------------------------------------- */

.cursive {
  font-family: var(--font-cursive);
}

/* -- .contents ------------------------------------------------------------ */

.contents {
  
}
.contents li {
  padding: 0.25rem;
  position: relative;
  border-bottom: 1px solid color-mix(in srgb, var(--color-foreground) 10%, var(--color-background));
}
.contents li:first-of-type {
  border-top: 1px solid color-mix(in srgb, var(--color-foreground) 10%, var(--color-background));
}
.contents a {
  color: var(--color-foreground);
  display: block;
  line-height: 1.2;
  margin: 0 -0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}
.contents a span {
  display: block;
  font-size: 1.0rem;
  font-style: italic;
  font-weight: 300;
  padding: 0.25rem 0;
}

@media (min-width: 28.5rem) {
  .contents a {
    margin: 0 -1rem;
    padding: 0.5 1.0rem;
  }
}

@media (hover: hover) {
  
  .contents a:hover,
  .contents a:focus {
    background-color: color-mix(in srgb, var(--color-hover) 10%, var(--color-background));
    color: var(--color-hover);
  }
  .contents a:active {
    color: var(--color-active);
  }
  .contents .index a,
  .contents .index a:hover,
  .contents .index a:focus,
  .contents .index a:active  {
    color: color-mix(in srgb, var(--color-foreground) 50%, var(--color-background));
  }
}

.contents .index a {
  background: color-mix(in srgb, var(--color-foreground) 7.5%, var(--color-background));
  cursor: default;
}


/* -- .fill ---------------------------------------------------------------- */

.fill {
  position: relative;
}
.fill:after {
  content: " ";
  display: block;
  margin-left: -50vw;
  margin-right: -50vw;
  position: absolute; 
  height: 100%;
  top: 0; left: 50%; right: 50%; width: 100vw;
  z-index: -1;
}

.first-line-indent > p:not(:first-of-type) {
  text-indent: 2rem;
}
.first-line-indent > :is(h1, h2, h3, h4, h5, h6) + p:not(:first-of-type) {
  text-indent: 0;
}

/* -- .folio --------------------------------------------------------------- */

.folio {
  margin: 2rem 0 1rem 0;
}

/* -- .hyphenation --------------------------------------------------------- */

.hyphenation {
  hyphens: auto;
}

/* -- .icon-{n} ------------------------------------------------------------ */

.icon {
  width: 2rem;
  height: 2rem;
  margin: 0.375rem;
}

/* -- @keyframes ----------------------------------------------------------- */

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -- .lowercase ----------------------------------------------------------- */

.lowercase {
  text-transform: lowercase;
}

/* -- .marginalia ---------------------------------------------------------- */

.marginalia {
  
}

/* -- .monotype ------------------------------------------------------------ */

.monotype {
  font-family: var(--font-monotype);
  line-height: 1.25;
}

/* -- .pages --------------------------------------------------------------- */

.pages {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  position: relative;
}
.pages a,
.pages li,
.pages span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pages li {
  display: flex;
  flex: 1;
}
.pages li:has(a[rel=prev]) {
  margin-left: -0.5rem;
}
.pages li:has(a[rel=next]) {
  justify-content: flex-end;
  margin-right: -0.5rem;
}
.pages a {
  align-items: center;
  display: flex;
}
.pages a[rel=prev] {
  flex-direction: row-reverse;
  margin-left: -0.5rem;
  padding-right: 1rem;
}
.pages a[rel=next] {
  margin-left: -0.5rem;
  padding-left: 1rem;
}
.pages svg {
  flex-shrink: 0;
}

/* -- .panels-{n} ---------------------------------------------------------- */

.panels {}
.panels-2up {}
.panels-3up {}
.panels-4up {}

/* -- .redacted ------------------------------------------------------------ */

.redacted {
  background-color: var(--color-foreground);
  color: var(--color-foreground);
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

/* -- .sans ---------------------------------------------------------------- */

.sans {
  font-family: var(--font-sans);
}

/* -- .serif --------------------------------------------------------------- */

.serif {
  font-family: var(--font-serif);
}

/* -- .social -------------------------------------------------------------- */

.social {
  align-items: center;
  display: flex;
  margin-right: -0.625rem;
  justify-content: flex-end;
}
.social li:first-of-type:not(:has(a)) {
  flex: 1;
  font-family: var(--font-sans);
  overflow: hidden;
}
.social li:first-of-type:not(:has(a)) span {
  display: inline-block; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.social  li {
  display: flex;
}
.social  span {
  display: none;
}
.social a,
.social a:link {
  color: var(--color-foreground);
  fill: var(--color-foreground);
}
@media (hover: hover) {
  .social a:hover,
  .social a:focus  {
    color: var(--color-hover);
    fill: var(--color-hover);
  }
  .social a:active {
    color: var(--color-active);
    fill: var(--color-active);
  }
}

/* -- .space-after-paragraph > p ------------------------------------------- */

.space-after-paragraph > p {
  margin-bottom: 1rem;
}

/* -- .spoiler-{n} --------------------------------------------------------- */

.spoiler {
  background-color: transparent;
  cursor: help;
  filter: blur(0.25rem);
}

.spoiled-revealed {
  background-color: transparent;
  filter: none;
}

/* -- .spread  ------------------------------------------------------------- */

.spread { /* see body above */ }

/* -- .text-align-{n} ------------------------------------------------------ */

.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

/* -- .transition-{n} ------------------------------------------------------ */

.transition {}
.transition-rise {}
.transition-fall {}
.transition-fade-in {}
.transition-fade-out {}
.transition-pop {}
.transition-slide-in-left {}
.transition-slide-in-right {}
.transition-slide-out-left {}
.transition-slide-out-right {}

/* -- .uppercase ----------------------------------------------------------- */

.uppercase {
  text-transform: uppercase;
}

/* -- .verse --------------------------------------------------------------- */

.verse {}


/* EOF --------------------------------------------------------------------- */


.attachment {}
.bookmark {}
.chat {}
.character {}
.description {}
.dialogue {}
.message {}
.note {}
.notes {}
.page {}
.scene {}
.script {}
.social {
  
}

