<nav>
    <header>
        <h2>Lorem ipsum</h2>
    </header>
    <ol class="contents">
        <li><a href="one-fish">One fish, <em>two fish</em>, <strong>three fish</strong>, blue fish, and a few more sea creatures for fun! <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></a></li>
        <li class="index"><a href="two-fish">two fish,</a></li>
        <li><a href="red-fish">red fish,</a></li>   
        <li><a href="blue-fish">blue fish&hellip;</a></li>
    </ol>
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class="social">
        <li><span>Follow me @bryanrieger</span></li>
        <li><a href="https://ko-fi.com/bryanrieger" aria-label="Ko-fi" rel="external"><span>Ko-fi</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="#social/ko-fi.icon" /></svg></a></li>
        <li><a href="https://bsky.app/profile/bryanrieger.bsky.social" rel="external"><span>Bluesky</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="/assets/icons/social.svg#bluesky" /></svg></a></li>
        <li><a href="https://www.threads.net/@bryanrieger" rel="external"><span>Threads</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="/assets/icons/social.svg#threads" /></svg></a></li>
        <li><a href="https://www.instagram.com/bryanrieger" rel="external"><span>Instagram</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="/assets/icons/social.svg#instagram" /></svg></a></li>
    </ul>
</nav>