<!-- imprint -->
<footer class="imprint">
	<p><a href="/imprint">&copy; Copyright Bryan Rieger</a></p>
	<ul class="social">
		<li><a href="https://bsky.app/profile/bryanrieger.bsky.social" rel="external"><span>Bluesky</span><svg class="icon" viewBox="0 0 24 24" width="24" height="24"><use href="/assets/icons/social.svg#bluesky" /></svg></a></li>
		<li><a href="https://www.instagram.com/bryanrieger" rel="external"><span>Instagram</span><svg class="icon" viewBox="0 0 24 24" width="24" height="24"><use href="/assets/icons/social.svg#instagram" /></svg></a></li>
	</ul>
</footer>