<!-- menu -->
<nav class="menu">
	<header>
		<h2>Dog Man</h2>
	</header>
	<ol>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
		<li>Not quite the story of France, but soon&hellip;</li>
		<li>Something Completely Different</li>
	</ol>
</nav>