<!-- preload -->
<link rel="preload" as="font" href="/assets/fonts/bogart/regular.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="/assets/fonts/rooney/regular.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="/assets/fonts/rooney/sans/regular.woff2" type="font/woff2" crossorigin>	
<link rel="preload" as="image" href="/assets/icons/social.svg" type="image/svg+xml">
<link rel="preload" as="style" href="/assets/styles/preflight.css">
<link rel="preload" as="style" href="/assets/styles/default.css">
<link rel="preload" as="script" href="/assets/scripts/default.js">